In [1]:
set2={2,'pyhton','a',5,9.4}
print(len(set2))

5

In [3]:
set2={2,'pyhton','a',5,9.4}
set2.remove('pyhton')
print(set2)

{2, 5, 9.4, 'a'}

In [7]:
set2={2,'pyhton','a',5,9.4}
set2.discard('pyhton')
print(set2)

{2, 5, 9.4, 'a'}

In [11]:
set2={2,'pyhton','a',5,9.4}
set2.add('hello')
print(set2)

{2, 'pyhton', 'hello', 5, 9.4, 'a'}

In [3]:
value=set()
n=int(input())
for i in range(n):
    value.add(int(input()))
print(value)

 2
 5
 6

{5, 6}

In [11]:
value={6,12,26,10}
no=int(input())
if no in value:
    print('yes it is in the set')
else:
    print('no its not in the set')

 50

no its not in the set

In [7]:
month1={'Jan','Feb','Dec','Mar'}
month2={'May','Jan','Oct','Mar'}
print(month1)
print(month2)

{'Mar', 'Jan', 'Dec', 'Feb'}
{'May', 'Oct', 'Jan', 'Mar'}

In [15]:
month=month1 | month2

In [17]:
month

{'Dec', 'Feb', 'Jan', 'Mar', 'May', 'Oct'}

In [19]:
month_u=month1.union(month2)
month_u

{'Dec', 'Feb', 'Jan', 'Mar', 'May', 'Oct'}

In [27]:
month_in=month1.intersection(month2)
month_in
common=month1 &month2
common

{'Jan', 'Mar'}

In [9]:
diff=(month1-month2)
diff
x=month1.difference(month2)
x

{'Dec', 'Feb'}

In [3]:
month1_set={'Jan','Feb','Dec','Mar'}
month2_set={'Jan','Feb'}
print(month1_set>month2_set) #2 is the subset of 1
print(month1_set<month2_set)
print(month1_set==month2_set)

True
False
False